* {
    margin: 0;
    padding: 0;
  }

body {
    background-color: #ddcfff;
    font-family: 'DM Mono', sans-serif;
}


/* Comienzo navbar */
.navbar-custom {
    background-color: #ddcfff;
    border-color: #040de1;
    border-width: 2px; /* Grosor del borde */
    border-style: solid; /* Estilo del borde */
  }

  .navbar-brand {
    font-size: 14px;
  }

  .navbar-custom .nav-link-about {
    color: #ffffff; /* Color de texto */
    background-color: #343a40; /* Color de fondo más oscuro */
    border-radius: 10%;
    font-size: 14px;
  }

/* fin navbar */

/*Comienzo footer*/
footer {
    font-size: 12px;
    color: #040de1;
    text-align: center;
    border: 2px solid #040de1; /* Agregamos el borde */
  }
/*Fin footer*/

/*Comienzo index*/
/* comienzo articulos */
.article {
    background-color: #ddcfff;
    border: 2px solid #040de1;
    padding: 20px;
    margin-bottom: 20px;
  }

  .date {
    font-size: 12px;
  }

  .article h2 a {
    font-size: 25px;
    text-decoration: none; /* Sin subrayado por defecto */
  }
  .article h2:hover {
    text-decoration: underline dotted; /* Subrayado punteado al pasar el mouse */
    text-decoration-color: #040de1; /* Color del subrayado punteado */
  }

  .article p {
    font-size: 14px;
  }

  .tags a {
    margin-right: 5px;
    font-size: 14px;
  }

/* fin articulos */

/*Fin index*/

/*Comienzo about*/

.container-about {
    margin-top: 50px;
}

  .about {
    text-align: left;
  }
  
  .about h1 {
    font-size: 25px;
    color: #040de1;
    margin-bottom: 20px; /* Agregamos un margen inferior */
  }
  
  .about p {
    font-size: 14px;
    color: #040de1;
    margin-bottom: 10px; /* Agregamos un margen inferior */
  }

/*Fin about*/